*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Doris",sans-serif;
}
body{
    background-color: black;
}


.header{
    width: 100%;
    height: 100vh;
    background-image: url(img/background.jpg);
    background-position: center;
    background-size: cover;
}
.navbar{
    padding: 50px;
    display: flex;
    align-content: center
}
.navbar h1{
    color: white;
}
span{
    color: #f9004d;
}
.navbar ul{
    flex: 1;
    text-align: center;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
}
.navbar ul li a{
    margin: 0 20px;
    text-decoration: none;
    color: white;
    transition: .4s;
}
.navbar button{
    background: #f9004d;
    padding: 10px 25px;
    border-radius: 20px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    transition: .4s;
}
.navbar ul li a:hover{
    color: #f9004d;
    cursor: pointer;
}
.navbar button:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.text{
   position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%)
}

.text h3{
    color: white;
    font-size: 12px
}
.text h1{
    font-size:  60px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}
.text h2{
    font-size: 16px;
    color: white;
    margin-bottom: 30px;
}
.btn form{
    position: relative;
}

.btn #name{
    display: inline-block;
    width: 30%;
    padding: 5px;
    border: 2px solid #f9004d;
    outline: none;
    border-radius: 10px;
}

#message{
    border: 2px solid #f9004d;
    width: 50%
}
#sumit{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #f9004d;
    color: white;
    box-shadow: 0px 0px  5px #000, 0px 0px 15px #858585;
    top: 11rem;
    left: 4rem;
}
.about-me{
    width: 100%;
    margin-top: 510px;
    background-color: black;
    padding: 100px 0px;
    display: flex;
    justify-content: space-around;
    align-content: center;
}
.img img{
    width: 430px;
    height: auto;
    margin-left: 60px;
    margin-top: 20px;
}

.write{
    color: white;
    width: 550px;
}

.write h1{
    font-size: 75px;
    color: white;
    margin-bottom: 20px;
    text-transform: capitalize;
    
}
.write h2{
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.write p{
    line-height: 28px;
    margin-bottom: 30px;
    
}

.write button{
    padding: 10px 20px;
    background-color: #f9004d;
    color: white;
    border: 2px solid #f9004d;
    border-radius: 20px;
    transition: 0.4s;
}
.write button:hover{
    background-color:transparent; 
    transform: scale(1.2);
    cursor: pointer;
}
.service{
    width: 100%;
    color: white;
    background: black;
    padding: 100px 0px;
}
.title h1{
    color: white;
    font-size: 70px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
}
.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    color: #f9004d; 
}

.card h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
    text-align: center;
}
.pra p{
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}
.card a{
    padding: 9px 22px;
    background-color: #f9004d;
    color: white;
    border: 2px solid #f9004d;
    border-radius: 20px;
    transition: 0.4s; 
    text-decoration: none;
}
.card a:hover{
    background-color:transparent; 
    transform: scale(1.2);
    cursor: pointer;
}
.footer{
    width: 100%;
    height: 250px;
    background: #191919;
    position: relative;
}
.fot{
    text-align: center;
    padding: 110px 0 0;
}
.fot h3{
    color: white;
    font-size: 30px;
    margin-bottom: 30px;
}
.fot a{
    text-decoration: none;
    padding: 9px 22px;
    background-color: #f9004d;
    color: white;
    border: 2px solid #f9004d;
    border-radius: 20px;
    transition: 0.4s;   
}
.fot a:hover{
    background-color:transparent; 
    transform: scale(1.2);
    cursor: pointer;}

.id{
    width: 100%;
    height: 50%;
    background: black;
}

.final{
    color: white;
    position: relative;
    text-align: center;
    padding: 110px 0 0;
}
.final h2{
    font-size: 25px;
    margin-bottom: 20px;
}
.final p{
    line-height: 30px;
    margin-bottom: 20px;
}

.final i{
    width: 30px;
    height: 30px;
    background: #f9004d;
    margin: 5px;
    border-radius: 15px;
    padding: 5px;
    font-size: 20px;
}
.copy{
    width: 100%;
    height: 100px;
    background: black;
}
.copy p{
    color: #f9004d;
    text-align: center;
    padding: 50px 0 0
}

.final a i {
    color: white;
    cursor: pointer;
}
    
